<a href="https://colab.research.google.com/github/jloreto9/datasciencecoder/blob/main/ukraine_russia_food.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import os, sys
from matplotlib import pyplot as plt

import plotly.express as px

# Montamos COLAB sobre la ruta de Google Drive

## EXPLORANDO y VISUALIZANDO datos

In [3]:
# montando Colab sobre la ruta dentro de Google Drive.
from google.colab import drive
drive.mount('/content/drive')
#drive.flush_and_unmount()

Mounted at /content/drive

# Establezco el Path en Google Drive

In [4]:
path = '/content/drive/My Drive/Datasets/'
import sys
sys.path.insert(0,path)

# Importo el directorio en la carpera de Drive mencionada

In [5]:
import os
os.listdir(path)

['ukraine-russia-food.csv', 'World_Airports.csv']

# Formulo la variable World_Airports_df como el dataset a evaluar

In [6]:
ukraine_russia_food_df = pd.read_csv(path+"ukraine-russia-food.csv")

ukraine_russia_food_df.head(15)

,Domestic wheat supply,Wheat exports,Wheat imports,Wheat stocks,Net wheat imports,Wheat imports (% domestic supply),Wheat stocks (% domestic supply),Wheat exports per capita,Wheat imports per capita,Net wheat imports per capita,...,Sunflower oil imports from Russia per capita,Sunflower oil imports from Ukraine + Russia per capita,Sunflower oil imports from Ukraine (% imports),Sunflower oil imports from Russia (% imports),Sunflower oil imports from Ukraine + Russia (% imports),Sunflower oil imports from Ukraine (% supply),Sunflower oil imports from Russia (% supply),Sunflower oil imports from Ukraine + Russia (% supply),Entity,Year
0,6209000,NaN,206145.0,182000,NaN,NaN,2.931229,NaN,7.063265,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2010
1,6011000,NaN,220428.0,-402000,NaN,NaN,-6.687739,NaN,7.318956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2011
2,6186000,NaN,204801.0,497000,NaN,NaN,8.034271,NaN,6.572270,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2012
3,6639000,NaN,222974.0,343000,NaN,NaN,5.166441,NaN,6.909725,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2013
4,6586000,0.0,78730.0,250000,78730.0,1.195415,3.795931,0.0,2.359248,2.359248,...,0.880141,0.944448,5.800000,79.381081,85.181081,5.365000,73.427500,78.792500,Afghanistan,2014
5,6760000,0.0,176539.0,-180000,176539.0,2.611524,-2.662722,0.0,5.129919,5.129919,...,0.918823,0.946283,2.617729,87.590028,90.207756,2.423077,81.076923,83.500000,Afghanistan,2015
6,6880000,0.0,258473.0,446000,258473.0,3.756875,6.482558,0.0,7.304999,7.304999,...,1.172200,1.230590,4.286307,86.049793,90.336100,4.132000,82.952000,87.084000,Afghanistan,2016
7,7151000,NaN,728124.0,208000,NaN,NaN,2.908684,NaN,20.060662,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2017
8,7036000,NaN,692468.0,-4000,NaN,NaN,-0.056850,NaN,18.628792,NaN,...,0.900330,0.935948,2.859611,72.282937,75.142549,2.942222,74.371111,77.313333,Afghanistan,2018
9,7519000,NaN,431909.0,-104000,NaN,NaN,-1.383163,NaN,11.353550,NaN,...,1.181281,NaN,NaN,85.082455,NaN,NaN,80.246429,NaN,Afghanistan,2019
10,60013000,NaN,NaN,-1013000,NaN,NaN,-1.687968,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,2010
11,62353000,NaN,NaN,3966000,NaN,NaN,6.360560,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,2011
12,67140000,NaN,NaN,-3195000,NaN,NaN,-4.758713,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,2012
13,67964000,NaN,NaN,639000,NaN,NaN,0.940204,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,2013
14,70988000,NaN,NaN,2270000,NaN,NaN,3.197724,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,2014

# Cambio el formato de visualizacion de las dos primeras columnas para asi eliminar la notacion cientifica

In [7]:
pd.options.display.float_format = '{:.2f}'.format

# Chequeamos de nuevo el dataset

In [8]:
ukraine_russia_food_df.head(15)

,Domestic wheat supply,Wheat exports,Wheat imports,Wheat stocks,Net wheat imports,Wheat imports (% domestic supply),Wheat stocks (% domestic supply),Wheat exports per capita,Wheat imports per capita,Net wheat imports per capita,...,Sunflower oil imports from Russia per capita,Sunflower oil imports from Ukraine + Russia per capita,Sunflower oil imports from Ukraine (% imports),Sunflower oil imports from Russia (% imports),Sunflower oil imports from Ukraine + Russia (% imports),Sunflower oil imports from Ukraine (% supply),Sunflower oil imports from Russia (% supply),Sunflower oil imports from Ukraine + Russia (% supply),Entity,Year
0,6209000,NaN,206145.00,182000,NaN,NaN,2.93,NaN,7.06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2010
1,6011000,NaN,220428.00,-402000,NaN,NaN,-6.69,NaN,7.32,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2011
2,6186000,NaN,204801.00,497000,NaN,NaN,8.03,NaN,6.57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2012
3,6639000,NaN,222974.00,343000,NaN,NaN,5.17,NaN,6.91,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2013
4,6586000,0.00,78730.00,250000,78730.00,1.20,3.80,0.00,2.36,2.36,...,0.88,0.94,5.80,79.38,85.18,5.37,73.43,78.79,Afghanistan,2014
5,6760000,0.00,176539.00,-180000,176539.00,2.61,-2.66,0.00,5.13,5.13,...,0.92,0.95,2.62,87.59,90.21,2.42,81.08,83.50,Afghanistan,2015
6,6880000,0.00,258473.00,446000,258473.00,3.76,6.48,0.00,7.30,7.30,...,1.17,1.23,4.29,86.05,90.34,4.13,82.95,87.08,Afghanistan,2016
7,7151000,NaN,728124.00,208000,NaN,NaN,2.91,NaN,20.06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2017
8,7036000,NaN,692468.00,-4000,NaN,NaN,-0.06,NaN,18.63,NaN,...,0.90,0.94,2.86,72.28,75.14,2.94,74.37,77.31,Afghanistan,2018
9,7519000,NaN,431909.00,-104000,NaN,NaN,-1.38,NaN,11.35,NaN,...,1.18,NaN,NaN,85.08,NaN,NaN,80.25,NaN,Afghanistan,2019
10,60013000,NaN,NaN,-1013000,NaN,NaN,-1.69,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,2010
11,62353000,NaN,NaN,3966000,NaN,NaN,6.36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,2011
12,67140000,NaN,NaN,-3195000,NaN,NaN,-4.76,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,2012
13,67964000,NaN,NaN,639000,NaN,NaN,0.94,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,2013
14,70988000,NaN,NaN,2270000,NaN,NaN,3.20,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,2014

In [9]:
ukraine_russia_food_df

,Domestic wheat supply,Wheat exports,Wheat imports,Wheat stocks,Net wheat imports,Wheat imports (% domestic supply),Wheat stocks (% domestic supply),Wheat exports per capita,Wheat imports per capita,Net wheat imports per capita,...,Sunflower oil imports from Russia per capita,Sunflower oil imports from Ukraine + Russia per capita,Sunflower oil imports from Ukraine (% imports),Sunflower oil imports from Russia (% imports),Sunflower oil imports from Ukraine + Russia (% imports),Sunflower oil imports from Ukraine (% supply),Sunflower oil imports from Russia (% supply),Sunflower oil imports from Ukraine + Russia (% supply),Entity,Year
0,6209000,NaN,206145.00,182000,NaN,NaN,2.93,NaN,7.06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2010
1,6011000,NaN,220428.00,-402000,NaN,NaN,-6.69,NaN,7.32,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2011
2,6186000,NaN,204801.00,497000,NaN,NaN,8.03,NaN,6.57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2012
3,6639000,NaN,222974.00,343000,NaN,NaN,5.17,NaN,6.91,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,2013
4,6586000,0.00,78730.00,250000,78730.00,1.20,3.80,0.00,2.36,2.36,...,0.88,0.94,5.80,79.38,85.18,5.37,73.43,78.79,Afghanistan,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1839,405000,1510.00,231293.00,-16000,229783.00,56.74,-3.95,0.11,16.74,16.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,2015
1840,348000,0.00,268891.00,34000,268891.00,77.27,9.77,0.00,19.16,19.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,2016
1841,292000,16500.00,205760.00,-37000,189260.00,64.82,-12.67,1.16,14.45,13.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,2017
1842,283000,7.00,276776.00,67000,276769.00,97.80,23.67,0.00,19.17,19.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,2018
1843,377000,300.00,124632.00,-165000,124332.00,32.98,-43.77,0.02,8.51,8.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,2019

# Ahora veamos que tipo de DataFrame es

In [11]:
ukraine_russia_food_df.dtypes

Domestic wheat supply                                       int64
Wheat exports                                             float64
Wheat imports                                             float64
Wheat stocks                                                int64
Net wheat imports                                         float64
                                                           ...
Sunflower oil imports from Ukraine (% supply)             float64
Sunflower oil imports from Russia (% supply)              float64
Sunflower oil imports from Ukraine + Russia (% supply)    float64
Entity                                                     object
Year                                                        int64
Length: 98, dtype: object

In [12]:
ukraine_russia_food_df.shape

(1844, 98)